# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
bin/
obj/

# Ignore local SQLite database
*.db
*.db-wal
*.db-shm

# Node/npm
node_modules/

# Visual Studio Code
.vscode/

# User-specific files
*.user
*.suo

# ASP.NET temp
appsettings.Development.json

# Logs
logs/
