@* Views/Cart/Success.cshtml *@
@{
    ViewData["Title"] = "Order Success";
}
<div class="alert alert-success">
    <h4 class="alert-heading">Thank you!</h4>
    <p>Your order has been placed successfully.</p>
</div>
<a class="btn btn-primary" asp-controller="Shop" asp-action="Index">Continue shopping</a>
